@charset "utf-8";

.theme-green *::selection {
	background-color: #17b782;
}
.theme-green *::-moz-selection {
	background-color: #17b782;
}

.theme-green a,
.theme-green a.reverse:hover,
.theme-green h1 a:hover,
.theme-green h2 a:hover,
.theme-green h3 a:hover,
.theme-green h4 a:hover,
.theme-green h5 a:hover,
.theme-green h6 a:hover,
.theme-green .skin-color,
.theme-green .h-wrapper .icon,
.theme-green .product-item .price,
.theme-green .blog-item .date > span,
.theme-green label.rate-star:hover,
.theme-green .radioareachecked,
.theme-green .progress-bar-meter .icon:before,
.theme-green .shopping-cart-menu-content a,
.theme-green .pagination .pagination-item {
	color: #17b782;
}

.theme-green .nivoslider-wrap .nivo-directionNav a,
.theme-green .normal-button, input[type='submit'], button,
.theme-green .main-nav li a:hover,
.theme-green .main-nav li a.active,
.theme-green .adv figure a,
.theme-green .product-item .sale,
.theme-green .single-item a,
.theme-green .product-item a:hover,
.theme-green .progress-bar-meter,
.theme-green .pa-tabs li a.active,
.theme-green .pa-tabs li a:hover,
.theme-green .normal-button,
.theme-green input[type='submit'],
.theme-green button {
	background-color: #17b782;
}

.theme-green input:focus,
.theme-green textarea:focus,
.theme-green .progress-bar-meter .icon,
.theme-green table.cart .product-remove .remove:hover {
	border-color: #17b782;
}

.theme-green .top-bar {
	border-bottom-color: #17b782;
}