@charset "utf-8";

.theme-magenta *::selection {
	background-color: #d60a62;
}
.theme-magenta *::-moz-selection {
	background-color: #d60a62;
}

.theme-magenta a,
.theme-magenta a.reverse:hover,
.theme-magenta h1 a:hover,
.theme-magenta h2 a:hover,
.theme-magenta h3 a:hover,
.theme-magenta h4 a:hover,
.theme-magenta h5 a:hover,
.theme-magenta h6 a:hover,
.theme-magenta .skin-color,
.theme-magenta .h-wrapper .icon,
.theme-magenta .product-item .price,
.theme-magenta .blog-item .date > span,
.theme-magenta label.rate-star:hover,
.theme-magenta .radioareachecked,
.theme-magenta .progress-bar-meter .icon:before,
.theme-magenta .shopping-cart-menu-content a,
.theme-magenta .pagination .pagination-item {
	color: #d60a62;
}

.theme-magenta .nivoslider-wrap .nivo-directionNav a,
.theme-magenta .normal-button, input[type='submit'], button,
.theme-magenta .main-nav li a:hover,
.theme-magenta .main-nav li a.active,
.theme-magenta .adv figure a,
.theme-magenta .product-item .sale,
.theme-magenta .single-item a,
.theme-magenta .product-item a:hover,
.theme-magenta .progress-bar-meter,
.theme-magenta .pa-tabs li a.active,
.theme-magenta .pa-tabs li a:hover,
.theme-magenta .normal-button,
.theme-magenta input[type='submit'],
.theme-magenta button {
	background-color: #d60a62;
}

.theme-magenta input:focus,
.theme-magenta textarea:focus,
.theme-magenta .progress-bar-meter .icon,
.theme-magenta table.cart .product-remove .remove:hover {
	border-color: #d60a62;
}

.theme-magenta .top-bar {
	border-bottom-color: #d60a62;
}