@charset "utf-8";

.theme-olive *::selection {
	background-color: #9cba16;
}
.theme-olive *::-moz-selection {
	background-color: #9cba16;
}

.theme-olive a,
.theme-olive a.reverse:hover,
.theme-olive h1 a:hover,
.theme-olive h2 a:hover,
.theme-olive h3 a:hover,
.theme-olive h4 a:hover,
.theme-olive h5 a:hover,
.theme-olive h6 a:hover,
.theme-olive .skin-color,
.theme-olive .h-wrapper .icon,
.theme-olive .item .price,
.theme-olive .blog-item .date > span,
.theme-olive label.rate-star:hover,
.theme-olive .radioareachecked,
.theme-olive .progress-bar-meter .icon:before,
.theme-olive .shopping-cart-menu-content a,
.theme-olive .pagination a:focus,
.theme-olive .pagination > span {
	color: #9cba16;
}

.theme-olive .nivoslider-wrap .nivo-directionNav a,
.theme-olive .normal-button, input[type='submit'], button,
.theme-olive .main-nav li a:hover,
.theme-olive .main-nav li a.active,
.theme-olive .adv figure a,
.theme-olive .item .sale,
.theme-olive .single-item a,
.theme-olive .item a:hover,
.theme-olive .progress-bar-meter,
.theme-olive .pa-tabs li a.active,
.theme-olive .pa-tabs li a:hover,
.theme-olive .normal-button,
.theme-olive input[type='submit'],
.theme-olive button {
	background-color: #9cba16;
}

.theme-olive input:focus,
.theme-olive textarea:focus,
.theme-olive .progress-bar-meter .icon,
.theme-olive table.cart .product-remove .remove:hover {
	border-color: #9cba16;
}

.theme-olive .top-bar {
	border-bottom-color: #9cba16;
}